#background {
    background: #CC5946;
}

#header{
    background-color: #FCF2F1;
    color: #CC5946;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#sign{
    background-color: transparent;
}

#inputbar{
    background-color: #FCF2F1;
    border-radius: 20px;
    color: #CC5946;
}

#signtext{
    font-size: 20px;
    font-weight: 700;
}

#signin{
    background-color: #FCC576;
    color: #704520;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
}

#pawfectly{
    position: end;
    font-size: 30px;
    font-weight: 700;
    color: #FCC576;
}

#labelpaw {
    color: yellow;
    font-size: 40px;
    font-weight: 700;
    margin: 10;
  }
  
  #mainbox {
    background-color: white;
  }
  #labelhi{
    color: brown;
    font-size: 70px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
  }
  #myptxt{
    color: brown;
    font-size: 38px;
    font-weight: 600;
    margin: 8px;
  }
  
  #petbox{
    background-color: rgb(246,205,199);
    margin: 15px;
    border-radius: 12px;
  }
  #imagespaw{
    margin: 10px;
    position: end;
  }
  #images{
    margin: 15px;
  }
  #petname{
    color:brown;
    font-size: 27px;
    font-weight: 700;
    margin: 10px;
  }
  
  
  
  #background {
    background-color: #CC5946;
  }

  #card {
      background-color: #FFC989;
      padding: 20px;
      border-radius: 25px;
      box-shadow: 0 4px 8px rgba(77, 56, 7, 0.305);
      margin-top: 60px;
  }

  #addpetbutton,
  #editpetbutton{
      background-color: #5b3704;
      color: white;
      margin-top: 40px;
      padding: 14px;
      border-radius: 25px;
      font-weight: 600;
  }

  #addpetbutton:hover,
  #editpetbutton:hover {
      background-color: #df7a00;
      color: #5b3704;
  }

  #petname_entry,
  #whatpet_entry,
  #breed_entry,
  #petbutton {
      padding: 6px;
      border-radius: 20px;
      background-color: #ffebd3;
      margin-bottom: 10px;
  }

